sudo apt-get install iptables-persistent

mkdir /home/usuario/services

echo "
#!/bin/bash
[Unit]
Description=Script service
After=network.target network-online.target
Wants=network-online.target
	
[Service]
ExecStart=/home/usuario/scripts/enruta.sh
	
[Install]
WantedBy=multi-user.target " > /home/usuario/services/enruta.service

sudo systemctl enable /home/usuario/services/enruta.service
sudo systemctl start enruta.service 
sudo systemctl status enruta.service
